  /* Default colours */
  $primary-color: #2c3e50;
  $secondary-color: #212b35;
  $white: #fff;
  $light-gray: rgb(252, 252, 252);
  $gray: rgb(245, 245, 245);
  $aquamarine: #7ef4cd;

  /* Width sizing */
  $max-width: 1000px;