  /* Default colours */
  $primary-color: #2c3e50; 
  $secondary-color: #374361;
  $white: #fff;
  $light-gray: #fcfcfc;
  $gray: #f5f5f5;
  $aquamarine: #7ef4cd;
  $coral: #ff4d4d;

  /* Width sizing */
  $max-width: 1000px;